*
{
	margin: 0px;
	padding: 0px;
	/**	border: 0px;**/
}
body
{
	/**font-weight: 800;**/
	color: #333333;
}
img
{
	width: 350px;;
	height: auto;
	margin-bottom: 30px;
	margin-top: 70px;
}
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -142px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
    height: 142px; /* .push must be the same height as .footer */
		font-size: 12px;
	text-align: center;
	/*width: 1000px;*/
	margin: 0px 10px;
}